*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/vikings.jpg);
    background-size: cover;
}
li{
    font-size: 0.9em;
}
.blockMenu{
    width: 100vw;
    display: flex;
    background-color: black;
}
.blockMenu__principal, .blockMenu__list{
    width: 100%;
    display: flex;
    align-items: center;
}
.blockMenu__principal{
    padding-left: 30px;
}
.blockMenu__imagePrincipal{
    width: 120px;
}
.blockMenu__list{
    width: 60%;
    justify-content: space-around;
    color: white;
    list-style: none;
}
@media(max-width:768px){
    .blockMenu__list{
        width: 300px;
        height: 350px;
        left: 120px;
        top: 85px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: yellow;
    }
}
.title__navegar{
    display: none;
    color: white;
    font-size: 0.7em; 
    margin-left: 10px;
}
@media(max-width:768px){
    .title__navegar{
        display: block;
    }
}
.blockMenu__search, .blockMenu__searchPrincipal{
    width: 50%;
    display: flex;
    align-items: center;
}
@media(max-width:768px){
    .blockMenu__search{
        width: 80%;    
    }
}
.blockMenu__searchPrincipal{
    width: 55%;
    justify-content: space-around;
    margin-right: auto;
    padding: 0;
}
.waltin{
    border: 2px solid white;
    display: flex;
    margin-right: 10px;
}
.blockMenu__searchImage{
    width: 25px;
}
.blockMenu__searchInput{
    display: none;
    border: none;
    outline: none;
    background-color: black;
    margin-left: 10px;
}
.blockMenu__searchChildish{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.blockMenu__span{
    width: 35%;
}
.blockMenu__spanImage{
    width: 50px;
}
.blockMenu__spanImageArrow{
    width: 25px;
}
.blockMenu__spanPrincipal{
    width: 20vw;
    height: 55vh;
    position: absolute;
    top: 12vh;
    left: 78vw;
    display: none;
    flex-direction: column;
    border: solid gray 2px;
    background-color: rgb(0, 0, 0);
}
.blockMenu__spanBlock{
    display: flex;
    align-items: center;
    padding: 20px 0 0 20px;
    color: white;
}
.blockMenu__spanUsers{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.blockMenu__spanParagraph{
    margin: 40px 0 20px 20px;
    color: white;
}
.blockMenu__spanBlockCentral{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: solid gray 1px;
    color: white;
}
.blockMenu__spanCentralParagraph{
    margin: 10px 0 0 20px;
}
.blockDescription{
    width: 50vw;
    height: 40vh;
    margin-bottom: 200px;
    margin-left: 20px;
}
.blockDescription__title, .blockDescription__paragraph{
    font-size: 1.5em;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}
.blockDescription__title{
    margin-top: 180px;
}
@media(max-width:768px){
    .blockDescription__title{
        margin-top: 155px;
    }
}
.blockDescription__paragraph{
    font-size: 1.3em;
}
@media(max-width:768px){
    .blockDescription__paragraph{
        font-size: 1em;
    }
}
.blockDescription__options{
    width: 52vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:768px){
    .blockDescription__options{
        width: 55vw;
    }
}
.blockDescription__optionsBlocks{
    width: 12vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
}
@media(max-width:768px){
    .blockDescription__optionsBlocks{
        width: 17vw;
    }
}
.blockDescription__optionsBlocks:hover{
    width: 15vw;
    height: 10vh;
    background-color: rgb(22, 22, 22);
}
@media(max-width:768px){
    .blockDescription__optionsBlocks:hover{
        width: 18vw;
    }
}