*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/houseofcards.png);
    background-size: cover;

}
.blockMenu{
    width: 100vw;
    display: flex;
    background-color: black;
}
.blockMenu__principal, .blockMenu__list{
    width: 100%;
    display: flex;
    align-items: center;
}
.blockMenu__principal{
    padding-left: 30px;
}
.blockMenu__imagePrincipal{
    width: 120px;
}
.blockMenu__list{
    width: 50%;
    justify-content: space-around;
    color: white;
    list-style: none;
}
.blockMenu__search, .blockMenu__searchPrincipal{
    width: 50%;
    display: flex;
    align-items: center;
}
.blockMenu__searchPrincipal{
    width: 55%;
    justify-content: space-around;
    margin-right: auto;
    padding: 0;
}
.blockMenu__searchImage{
    width: 25px;
}
.blockMenu__searchInput{
    display: none;
    border: none;
    outline: none;
}
.blockMenu__searchChildish{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.blockMenu__span{
    width: 35%;
}
.blockMenu__spanImage{
    width: 50px;
}
.blockMenu__spanImageArrow{
    width: 25px;
}
.blockMenu__spanPrincipal{
    width: 20vw;
    height: 55vh;
    position: absolute;
    top: 12vh;
    left: 78vw;
    display: none;
    flex-direction: column;
    border: solid gray 2px;
    background-color: rgb(0, 0, 0);
}
.blockMenu__spanBlock{
    display: flex;
    align-items: center;
    padding: 20px 0 0 20px;
    color: white;
}
.blockMenu__spanUsers{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.blockMenu__spanParagraph{
    margin: 40px 0 20px 20px;
    color: white;
}
.blockMenu__spanBlockCentral{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: solid gray 1px;
    color: white;
}
.blockMenu__spanCentralParagraph{
    margin: 10px 0 0 20px;
}
.blockDescription{
    width: 50vw;
    height: 40vh;
    margin-bottom: 200px;
    margin-left: 20px;
}
.blockDescription__title, .blockDescription__paragraph{
    font-size: 3em;
    margin-bottom: 30px;
    color: rgb(248, 8, 8);
}
.blockDescription__paragraph{
    font-size: 1.5em;
}
.blockDescription__options{
    widows: 52vw;
    height: 20vh;
    background-color: white;
}
.blockDescription__optionsBlocks{
    width: 17vw;
    background-color: rgb(255, 0, 0);
}